* {    
    margin: 0 !important;
    padding: 0 !important;
}
body{
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}
.App{
    width: 100%;
    min-height: 100vh;
    padding: 0px;
    background-color:black;
}